<html lang='n'>
<head>
  <meta charset='utf-8' />
  <meta http-equiv='X-UA-Compatible' content='IE=edge' />
  <meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' />
  <link
    href='https://res.cloudinary.com/de6i7slmm/raw/upload/v1670895418/assets/styles/styles_ieklhs.css'
    rel='stylesheet'
  />
  <link
    href='https://res.cloudinary.com/de6i7slmm/raw/upload/v1670895418/assets/styles/fonts_k7we5o.css'
    rel='stylesheet'
  />
  <title>Account activation</title>
</head>
<body>
<div class='w-full'>
  <a href='{{website}}'>
    <img
      src='https://res.cloudinary.com/de6i7slmm/image/upload/v1671328198/assets/image/advantex-light-mode_z0ssjy.png'
      height='32px'
      alt='Advantex Logo'
    />
  </a>
  <hr />
  <h1>Activate your account</h1>
  <p>Dear {{name}},</p>
  <p>Thank you for creating an account with Advantex.</p>
  <p>Please use the following link to activate your account: <a href='{{activationLink}}'>[Activate account]</a></p>
  <a class='text-secondary-50' href='{{website}}'>&copy;
    {{date}}
    Advantex
  </a>
</div>
</body>
</html>
